@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Londrina+Solid");
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: #c7dcea; }

h1 {
  margin: 0px;
  padding: 0px;
  font-family: "Londrina Solid", cursive;
  color: #000;
  letter-spacing: 3px;
  font-size: 36px;
  line-height: 40px; }

h2 {
  color: #a13576;
  font-family: "Londrina Solid", cursive;
  letter-spacing: 3px;
  font-size: 24px; }

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px; }
  ul li {
    padding: 0px;
    margin: 0px; }

a {
  color: #a13576;
  text-decoration: none;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease; }
  a:hover {
    opacity: 0.75; }

.global-width {
  width: 1200px; }

.center {
  text-align: center; }

.right {
  text-align: left; }

.float-right {
  float: right; }

.flex {
  display: flex; }

.header {
  justify-content: space-between;
  width: 100%;
  height: 125px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3px;
  background: url("../images/curtain.png") repeat-x;
  background-position: 0 -25px;
  padding-top: 65px; }
  .header .logo {
    visibility: hidden;
    font-size: 72px;
    background: #c3e682;
    border-radius: 50%;
    padding: 18px;
    margin-left: 50px; }
    .header .logo ul {
      display: flex; }
      .header .logo ul li {
        flex: 1; }
  .header a {
    color: #fff;
    padding: 9px;
    text-decoration: none; }
    .header a:hover {
      opacity: 0.75; }

.nav {
  justify-content: flex-end; }
  .nav li:nth-child(2) {
    position: relative;
    z-index: 99999; }
    .nav li:nth-child(2):hover .subnav {
      display: flex;
      margin-right: -175px; }
  .nav li:last-child {
    margin-right: 50px; }

.subnav {
  position: absolute;
  top: 13px;
  left: 0;
  display: none;
  flex-direction: column;
  background: #fff;
  font-size: 14px;
  padding: 9px 0px;
  z-index: 999999; }
  .subnav li {
    padding: 9px; }
    .subnav li:last-child {
      margin-right: 0px; }
    .subnav li a {
      color: #333; }

main {
  margin: 0px auto 50px auto;
  width: 90%;
  height: auto;
  flex-wrap: wrap;
  padding: 18px; }

aside {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff; }
  aside h1 {
    text-align: center; }
  aside .material-icons {
    display: block;
    font-size: 75px;
    color: #000; }

.speech-bubble {
  position: relative;
  padding: 21px;
  border: 4px solid #333;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25); }
  .speech-bubble::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 2px;
    right: 2px;
    bottom: 3px;
    z-index: 1;
    border: 2px solid #333;
    border-radius: 8px;
    pointer-events: none; }
  .speech-bubble p {
    text-align: left; }

section {
  flex: 4; }
  section .quote-large {
    font-size: 36px;
    font-weight: 700;
    padding: 50px 50px;
    margin-top: 50px;
    display: block; }
    section .quote-large .small {
      font-size: 27px; }

.info {
  justify-content: space-between;
  align-items: flex-start; }

.equipment {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .equipment .icon {
    flex: 1;
    width: 65px;
    height: 65px;
    margin-bottom: 15px;
    background: #c3e682; }

.statistics {
  font-size: 14px;
  text-align: left; }
  .statistics li {
    border-top: 2px solid #333;
    border-color: #a13576;
    padding: 9px 0px; }

.details {
  flex: 2;
  flex-direction: column;
  margin-left: 50px; }
  .details .speech-bubble:first-child {
    margin-bottom: 50px; }

.about {
  flex: 4; }
  .about .image {
    float: right;
    width: 175px;
    height: 175px;
    background: url("../images/me.jpg") no-repeat;
    border-radius: 50%;
    background-position: left;
    margin: 9px; }
  .about h2 {
    text-align: left; }

/*# sourceMappingURL=screen.css.map */
