@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Londrina+Solid');

@import 'mixins';

$round-corners-outer: 10px;
$round-corners-inner: 8px;
$border-outer: 4px solid #333;
$border-inner: 2px solid #333;
$main-font: 'Open Sans', sans-serif;
$display-font: 'Londrina Solid', cursive;
$kerning: 3px;

body {
  font-family: $main-font;
  font-size: 16px;
  line-height: 24px;
  background-color: #c7dcea;
}

h1 {
  margin: 0px;
  padding: 0px;
  font-family: $display-font;
  color: #000;
  letter-spacing: $kerning;
  font-size: 36px;
  line-height: 40px;
}

h2 {
  color: #a13576;
  font-family: $display-font;
  letter-spacing: $kerning;
  font-size: 24px;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;

  li {
    padding: 0px;
    margin: 0px;
  }
}

a {
  color: #a13576;
  text-decoration: none;
  @include transition(opacity .3s ease);
  @include transition(color .3s ease);

  &:hover {
    opacity: 0.75;
  }
}

.global-width {
  width: 1200px;
}

.center {
  text-align: center;
}

.right {
  text-align: left;
}

.float-right {
  float: right;
}

.flex {
  display: flex;
}

.header {
  justify-content: space-between;
  width: 100%;
  height: 125px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: $kerning;
  background: url("../images/curtain.png") repeat-x;
  background-position: 0 -25px;
  padding-top: 65px;

  .logo {
    visibility: hidden;
    font-size: 72px;
    background: #c3e682;
    border-radius: 50%;
    padding: 18px;
    margin-left: 50px;

    ul {
      display: flex;
      li {
        flex: 1;
      }
    }
  }

  a {
    color: #fff;
    padding: 9px;
    text-decoration: none;

    &:hover {
      opacity: 0.75;
    }
  }
}

.nav {

  justify-content: flex-end;

  li:nth-child(2) {
    position: relative;
    z-index: 99999;
    &:hover .subnav {
      display: flex;
      margin-right: -175px;
    }
  }

  li:last-child {
    margin-right: 50px;
  }
}

.subnav {
  position: absolute;
  top: 13px;
  left: 0;
  // display: flex;
  display: none;
  flex-direction: column;
  background: #fff;
  font-size: 14px;
  padding: 9px 0px;
  z-index: 999999;

  li {
    padding: 9px;

    &:last-child {
      margin-right: 0px;
    }

    a {
      color: #333;
    }
  }
}

main {
  margin: 0px auto 50px auto;
  width: 90%;
  height: auto;
  flex-wrap: wrap;
  padding: 18px;
}

aside {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;

  h1 {
    text-align: center;
  }

  .material-icons {
    display: block;
    font-size: 75px;
    color: #000;
  }
}

.speech-bubble {
  position: relative;
  padding: 21px;
  border: $border-outer;
  border-radius: $round-corners-outer;
  background-color: #fff;
  box-shadow: 5px 5px 2px rgba(0,0,0,0.25);

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 2px;
    right: 2px;
    bottom: 3px;
    z-index: 1;
    border: $border-inner;
    border-radius: $round-corners-inner;
    pointer-events: none;
  }

  p {
    text-align: left;
  }
}

section {
  flex: 4;

  .quote-large {
    font-size: 36px;
    font-weight: 700;
    padding: 50px 50px;
    margin-top: 50px;
    display: block;

    .small {
      font-size: 27px;
    }
  }
}

.info {

  justify-content: space-between;
  align-items: flex-start;

}

.equipment {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .icon {
    flex: 1;
    width: 65px;
    height: 65px;
    margin-bottom: 15px;
    background: #c3e682;
  }
}

.statistics {
  font-size: 14px;
  text-align: left;

  li {
    border-top: $border-inner;
    border-color: #a13576;
    padding: 9px 0px;

    &:last-child {
      // border-bottom: $border-inner;
    }
  }
}

.details {
  flex: 2;
  flex-direction: column;
  margin-left: 50px;

  .speech-bubble:first-child {
    margin-bottom: 50px;
  }
}

.about {

  flex: 4;
  .image {
      float: right;
      width: 175px;
      height: 175px;
      background: url("../images/me.jpg") no-repeat;
      border-radius: 50%;
      background-position: left;
      margin: 9px;
  }

  h2 {
    text-align: left;
  }
}
